.appointments {
    .get_appointment {
        text-align: center;
    }

    h1 {
        text-align: center;
        margin: 60px;
    }

    .schedule {
        width: 80%;
    }

    table {
        padding: 50px;

        .futur {
            background: violet;
            text-align: center;
            padding: 4px 0;
            margin: 0 -10px;
        }

        .past {
            background: green;
            text-align: center;
            padding: 3px 0;
        }
    }
}