.customer-profile {
    height: 100%;

    .card_container {
        width: 50%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 30px;

        hr {
            height: 1px;
            width: 80%;
            margin: 40px 0;
        }

        .infos_container {
            display: flex;
            flex-direction: column;
            width: 85%;

            .btn_container {
                margin-top: 40px;
                text-align: center;

                button {
                    margin: 0 10px;
                    background: orange;
                    border: none;
                    padding: 10px 15px;
                    font-size: 16px;
                    cursor: pointer;
                    color: white;

                    &:hover {
                        background: rgb(252, 224, 173);
                        color: black;
                    }
                }
            }

            div {
                margin: 5px 0;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}