@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$color-1 : black;


@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

    .page_content {
        width: 80%;
        position: absolute;
        right: 0;

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }
    }
}