@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Zen+Dots&display=swap');

$color-1 : #75b6fe;
$color-2 : #f2f4ff;
$color-3 : #ffffff;
$color-4 : #f8f8f8;
$color-5 : #63696e;
$color-6 :#ffc589;


@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    height: 100%;
    color: $color-5;

    .background {
        position: absolute;
        z-index: -10;
        width: 100%;
    }

    .page_content {
        width: 100%;
        position: absolute;
        right: 0;
        height: 100%;
    }
}