@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Zen+Dots&display=swap');

$color-1 : #2BA8E3;


@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    height: 100%;

    .page_content {
        width: 80%;
        position: absolute;
        right: 0;
        height: 100%;

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }
    }
}